# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/
migrate.log

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# The .vscode folder contains editor-specific settings.
.vscode/

# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.flutter-plugins
**/ios/Flutter/.flutter-plugins-dependencies
**/ios/Flutter/Generated.xcconfig
**/ios/Flutter/flutter_export_environment.sh
**/ios/Flutter/flutter_settings.json
**/ios/ephemeral/
**/linux/flutter/ephemeral/
**/macos/Flutter/ephemeral/
**/windows/flutter/ephemeral/
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/
/build/

# Android Studio overrides
/android/key.properties
/android/local.properties
/android/app/shared_prefs/
/android/app/src/main/assets/

# Web related
.node_modules/
.web_plugin_registrant.dart

# Symbol database/artifacts
app.*.symbols
app.*.map.json

# FVM Version Cache
.fvm/